@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --title-h1: 2.5rem;
    --h3-size: 1rem;
    --back-tit-foot: #314E52;
    --tit-fot-co: #F3F4ED;
    --hov-icon-foot: #989993;
    --menu-nav-res: #F2A154;
    --menu-nav-responsive: #f2a054f8;
    --main-back: #F7F6E7;
    --main-back: #F7F6E7;
    --menu-hover: #ac723c;
    --menu-selected: #d38c49;
    --font-col-nav: #f1f1ef;
    --font-col-cont: #000;
    --back-add: rgba(0,0,0,0.6);
    --hover-plus-cross: #4d4d4d;
}

body{
    font-family: 'Raleway';
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.nav-header{
    background-color: var(--back-tit-foot);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.50rem;
    color: var(--tit-fot-co);
    border-bottom: 1px solid #000;
}

.nav-header-title{
    height: 100%;
    width: 100%;
}

.nav-header-navico{
    display: none;
    text-align: end;
    height: 100%;
}

.icon{
    font-size: var(--title-h1);
    cursor: pointer;
}

.iconM{
    margin-left: 0.5rem;
    color: var(--font-col-nav);
}

.footer{
    bottom: 0;
    left: 0;
    background-color: var(--back-tit-foot);
    font-weight: 200;
    color: var(--tit-fot-co);
    text-align: center;
    padding: 0.30rem;
    border-top: 1px solid #000;
}

.titleT{
    font-size: var(--title-h1);
}

.main-sidething-menutitle{
    font-size: var(--h3-size);
    margin-left: 1rem;
    color: var(--font-col-nav);
}

.footer-icon{
    transition: 0.2s;
}

.footer-icon:hover{
    color: var(--hov-icon-foot);
}

.main-sidething-menudiv{
    display: flex;
    align-items: center;
    height: 5%;
    width: 100%;
    border-radius: 5px;
}

.main-sidething-menudiv-hover:hover{
    background-color: var(--menu-hover);
    cursor: pointer;
}

.main-sidething{
    flex-direction: column;
    width: 15%;
    background-color: var(--menu-nav-res);
    display: flex;
    border-right: 1px solid #000;
    align-items: center;
    padding: 0.75rem;
}

.listes{
    margin-right: 0.5rem;
}

#main{
    display: flex;
    min-height: calc(100vh - 64px - 48.6px);
    background-color: var(--main-back);
    width: 100%;
}

.hidden{
    display: none;
}

#content{
    width: 100%;
    padding: 0.75rem 1rem 1rem 1rem;
    height: 100%;
}

.bracket-line{
    border-bottom: 1px solid #000;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.content-title{
    display: flex;
    align-items: center;
}

.content-title-part{
    font-size: 2rem;
}

.content-title-iconbell{
    margin-right: 0.4rem;
}

.plus{
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 1rem;
}

.plus:hover{
    background-color: var(--menu-hover);
}

.allPan{
    background-color: var(--back-add);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allPuc{
    background-color: var(--back-add);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.marcoNotes{
    display: flex;
    border-radius: 5px;
    width: 25%;
    height: 37%;
    margin: 0 auto;
    background-color: var(--font-col-cont);
    color: white;
    align-items: center;
    padding: 0.5rem;
    padding-bottom: 1rem;
    flex-direction: column;
}

.marcoListas{
    display: flex;
    border-radius: 5px;
    width: 25%;
    height: 17%;
    margin: 0 auto;
    background-color: var(--font-col-cont);
    color: white;
    align-items: center;
    padding: 0.5rem;
    padding-bottom: 1rem;
    flex-direction: column;
}
.tituloListas{
    text-align: center;
    font-size: 1.3rem;
    text-decoration: underline;
}

.inputAdd{
    margin-top: 1rem;
}

.btnAddL{
    margin-top: 1rem;
    width: 70%;
}

.btncan{
    margin-top: 1rem;
    width: 70%;
}

@media screen and (max-width: 1000px) {
    .marcoListas{
        width: 50%;
    }
    .marcoNotes{
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .marcoListas{
        width: 85%;
    }
    .marcoNotes{
        width: 85%;
    }
}

.listCreated{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content-allnotes-table{
    width: 100%;
    border-spacing: 0;
}

.content-allnotes-table-firstrow{
    height: 50px;
    border-bottom: 1px solid var(--font-col-cont);
    text-align: left;
    font-size: 20px;
    color: var(--font-col-cont);
}
th, td{
    border-bottom: 1px solid var(--hov-icon-foot);
    padding: 10px 8px;
}
.checking{
    margin-right: 1rem;
}

.main-sidething-newtitle{
    display: flex;
    align-items: center;
    height: 5%;
    width: 100%;
    color: var(--font-col-nav);
}

.titNu{
    margin-left: 1rem;
}

.bracketClaro{
    border-bottom: 1px solid rgb(80, 80, 80);
    width: 90%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.content-title-iconadd{
    margin-left: auto;
    margin-right: 1rem;
    transition: 0.25;
}

.content-title-iconadd:hover{
    color: var(--hover-plus-cross);
    cursor: pointer;
}

.content-title-icondel:hover{
    color: var(--hover-plus-cross);
    cursor: pointer;
}

#content-allnotes{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 390px) {
    .titleT{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 1000px) {
    .main-sidething{
        border-right: 0;
        width: 100%;
        height: inherit;
        padding: 0;
        position: absolute;
        background-color: transparent;
    }
    .main-sidething-menudiv{
        height: 100%;
        border-radius: 0;
        padding: 0.35rem;
    }
    .main-sidething-menudiv-hover:hover{
        cursor: pointer;
    }
    .bracket-line{
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .bracketClaro{
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    #main{
        flex-direction: column;
        min-height: calc(100vh - 57px - 48.6px);
    }
    .nav-header-navico{
        display: flex;
        justify-content: end;
    }
    .main-sidething-menudiv{
        background-color: var(--menu-nav-responsive);
    }
    .icon{
        margin-right: 1rem;
    }
    .content-title-icondel{
        margin-right: 1rem;
    }
    #content{
        padding: 0;
        padding-top: 1rem;
    }
    .content-title{
        margin-left: 1rem;
        margin-bottom: 0.5rem;
    }
}