@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --title-h1: 2.5rem;
    --h3-size: 1rem;
    --back-tit-foot: #314E52;
    --tit-fot-co: #F3F4ED;
    --hov-icon-foot: #989993;
    --menu-nav-res: #F2A154;
    --menu-nav-responsive: #f2a054f8;
    --main-back: #F7F6E7;
    --main-back: #F7F6E7;
    --menu-hover: #ac723c;
    --menu-selected: #d38c49;
    --font-col-nav: #f1f1ef;
    --font-col-cont: #000;
}

body{
    font-family: 'Raleway';
    overflow-x: hidden;
}

.header-p{
    background-color: var(--back-tit-foot);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.50rem;
    color: var(--tit-fot-co);
    border-bottom: 1px solid #000;
}

.head-Title{
    height: 100%;
    width: 100%;
}

.navI{
    display: none;
    text-align: end;
    height: 100%;
    width: 100%;
}

.icon{
    font-size: var(--title-h1);
    cursor: pointer;
}

.iconM{
    margin-left: 0.5rem;
    color: var(--font-col-nav);
}

.footer-p{
    bottom: 0;
    left: 0;
    background-color: var(--back-tit-foot);
    font-weight: 200;
    color: var(--tit-fot-co);
    text-align: center;
    padding: 0.30rem;
    border-top: 1px solid #000;
}

.titleT{
    font-size: var(--title-h1);
}

.menuT{
    font-size: var(--h3-size);
    margin-left: 1rem;
    color: var(--font-col-nav);
}

.iconF{
    transition: 0.2s;
}

.iconF:hover{
    color: var(--hov-icon-foot);
}

.menuDiv{
    display: flex;
    align-items: center;
    height: 5%;
    width: 100%;
    border-radius: 5px;
}

.hoverL:hover{
    background-color: var(--menu-hover);
    cursor: pointer;
}

.navP{
    flex-direction: column;
    width: 15%;
    background-color: var(--menu-nav-res);
    display: flex;
    border-right: 1px solid #000;
    align-items: center;
    padding: 0.75rem;
}

.listes{
    margin-right: 0.5rem;
}

#mainthing{
    display: flex;
    min-height: calc(100vh - 64px - 48.6px);
    background-color: var(--main-back);
    width: 100%;
}

.hidden{
    display: none;
}

#content{
    width: 100%;
    padding: 0.75rem 1rem 1rem 1rem;
    
}

.bracketM{
    border-bottom: 1px solid #000;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.titleCont{
    display: flex;
    align-items: center;
}

.iconC{
    font-size: 2rem;
}

.icoCont{
    margin-right: 0.4rem;
}

.plus{
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 1rem;
}

.plus:hover{
    background-color: var(--menu-hover);
}



@media screen and (max-width: 390px) {
    .titleT{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 1000px) {
    .navP{
        border-right: 0;
        width: 100%;
        height: inherit;
        padding: 0;
        position: absolute;
        background-color: transparent;
    }
    .menuDiv{
        height: 100%;
        border-radius: 0;
        padding: 0.35rem;
    }
    .hoverL:hover{
        cursor: pointer;
    }
    .plus{

    }
    .bracketM{
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    #mainthing{
        flex-direction: column;
        min-height: calc(100vh - 57px - 48.6px);
    }
    .navI{
        margin-right: 2rem;
        display: flex;
        justify-content: end;
    }
    .menuDiv{
        background-color: var(--menu-nav-responsive);
    }
}
